@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 23px;
  padding: 5px;
}

.formcontainer {
  background-color: #e4e4e4;
  position: relative;
  height: 80vh;
  width: 80%;
  margin: auto auto;
  margin-top: 50px;
  border-radius: 20px;
}

.formUser {
  display: flex;
  height: 90%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.cardContainer {
  margin: 50px auto;
  width: 50%;
  height: calc(100vh - 10vh);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Titillium Web", sans-serif;
  overflow: auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 250%;
  gap: 15px;
}

.form1 {
  position: relative;
  background-color: #e4e4e4;
  margin: 0 auto;
  display: flex;
  height: 250%;
  width: 100%;
  border-radius: 20px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  width: 85%;
  height: 10%;
  margin: 10px auto;

  font-size: 1.2rem;
  border-radius: 15px;
}

.textarea {
  display: flex;
  width: 85%;
  height: 20%;
  margin: 10px auto;
  font-size: 1.2rem;
  border-radius: 15px;
}

.gameForm {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.main_menu:hover,
nav.main_menu.expanded {
  width: 250px;
  overflow: visible;
}

.main_menu {
  background: #2e2e2e;
  border-right: 1px solid #ff0000;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.17s linear;
  transition: width 0.17s linear;
  z-index: 1000;
}

.main_menu > ul {
  margin: 150px 0;
}

.main_menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main_menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #c2c2c2;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main_menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main_menu .nav_text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main_menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main_menu li:hover > a,
nav.main_menu li.active > a,
.dropdown_menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #ffffff;
  background-color: #ff0000;
}
.area {
  float: left;
  background: #ffffff;
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff1100;
  color: #000000;
  border: none;
  padding: 7px 14px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
}
.close:hover {
  background-color: #fd2d2d;
}

.button2 {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button2:hover {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37), 0 0 0 4px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}